{% extends "main-block.html" %}
{% block content %}
<!--begin navbar-->
<div class="row">
   <div class="col-12 right">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <a class="navbar-brand" href="#">
            <h2> sport items catalog </h2>
         </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
               <a class="nav-item nav-link active" href="#">home<span class="sr-only">(current)</span></a>
               <a class="nav-item nav-link" href="#"> projects</a>
               <a class="nav-item nav-link" href="#">contact </a>
            </div>
         </div>
      </nav>
   </div>
</div>
<div class="row">
  <div class="col-12">
    <p class="text-right">
      <a href='{{url_for("newSportCategory")}}'> create new sport </a>
    </p>
  </div>
</div>
<div class="row mt-3">
            <div class="col-1">
              <img src="../images/basketball.png">
            </div>
            {%for category in categories%}
            <div class="col-md-5 col-lg-5 col-xs-9">
               <div class="card bg-light text-dark">
                  <img class="card-img" src="images/basketball.png" alt="Basketball image">
                  <div class="card-img-overlay">
                     <p class="card-text center"><a href="https://www.github.com/mkhoury93/reb00t"> <i class="fa fa-github fa-4x" aria-hidden="true"></i></a></p>
                     <h4 class="card-title center">{{category.name}}</h4>
                     <p class="card-text center"> Metal Gear Solid meets TRON in this stealth-aholic shooter! </p>
                  </div>
               </div>
            </div>
          </div>
          {% endfor %}
{% for category in categories %}
<p><a href='{{url_for("editSportCategory", category_id = category.id)}}'> Edit </a>  <a href='{{url_for("deleteSportCategory", category_id = category.id)}}'> Delete </a> </p>
{% endfor %}
{% endblock %}
