{% extends "login-main-block.html" %}
{% block content %}
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="jumbotron">
      <h1 class="text-left">Login</h1>
      <p class="text-left">Choose the account you wish to login with.</p>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <p class="text-center">
         <a class="btn btn-google-plus-style btn-lg btn-block" href="auth/google">
         <i class="fa fa-google-plus-square"></i>  <span>Login with <strong>Google+</strong></span>
         </a>
      </p>
    </div>
      <p>
        <div id="signinButton">
           <span class="g-signin"
              data-scope="openid email"
              data-clientid="304725659906-tvft0hmvd12ho1820s0eo8a0efpufbva.apps.googleusercontent.com"
              data-redirecturi="postmessage"
              data-accesstype="offline"
              data-cookiepolicy="single_host_origin"
              data-callback="signInCallback"
              data-approvalprompt="force">
           </span>
        </div>
      </p>
    </div>
  </div>
  </div>
      <!-- GOOGLE PLUS SIGN IN-->
      <div id="result"></div>
      <script>
         function signInCallback(authResult) {
           if (authResult['code']) {
             // Hide the sign-in button now that the user is authorized
             $('#signinButton').attr('style', 'display: none');
             // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
             $.ajax({
               type: 'POST',
               url: '/gconnect?state={{STATE}}',
               processData: false,
               data: authResult['code'],
               contentType: 'application/octet-stream; charset=utf-8',
               success: function(result) {
                 // Handle or verify the server response if necessary.
                 if (result) {
                   $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...');
                   setTimeout(function() {
                     window.location.href = "/categories/";
                   }, 4000);
                 } else if (authResult['error']) {
                   console.log('There was an error: ' + authResult['error']);
                 } else {
                   $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                 }
               },
               error: function(result) {
                 console.log('There was an error: ' + result);
               }

           }); }

        else {
          $('result').html('NOT FUCKING WORKING');
        }
         }
      </script>
      <!--END GOOGLE PLUS SIGN IN -->
      {% endblock %}
